*{
    margin:0;
    padding:0;
}

body{
     background:white;
    }
header{
    background:rgba(0, 100, 186, 0.86);
    display:block;
    opacity:0.9;
    po
 }
.logo{
    float:left;
    margin-top:10px;
    width:70px;
    height:45;
}


.header_section{
    max-width:1200px;
    margin:0 auto;
    text-align:right;
    
 }

.navigation ul li {
    
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size:20px;
    display:inline-block;
    text-decoration: none;
    padding: 20px; 
    
}

.navigation ul li a{
    color:white;
    text-decoration:none;
    transition:0.3;
}

.navigation ul li a:hover{
    color:#002984;
    text-decoration:none;
    transition:0.3;
}

.section1{
    background-image:url(images/BusPro.png);
    height:700px;
    opacity:0.9;
    background-repeat:none;
}

.purchase_form{
    width:1100px;
    height:186px;
    padding-top:400px;
    padding-left:15%;
    

}

.purchase_form input[type="text"]{
    padding:15px 60px;
    margin:20px;
    font-size: 20px;
    color:black;
    text-align:center;
    border: 2px solid blue;
    opacity:1;
}

.purchase_form input[type="button"]{
    padding:15px 30px;
    margin:20px;
    font-size: 20px;
    background-color:#0081b1;
    border: 2px solid white;
 
    color:white;
    transition:0.3s;
}

.purchase_form input[type="button"]:hover{
    padding:15px 30px;
    margin:20px;
    font-size: 20px;
    background-color:white;
    border: 2px solid rgba(0, 20, 255, 0.83);
    color:rgba(0, 20, 255, 0.83);
    transition:0.3s;
    opacity:1;
}
 

footer{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
     background:rgba(0, 100, 186, 0.86);
    color:white;
    text-align:center;
    clear:both;
    opacity:0.9;
    background-attachment:fixed;
    position:relative;
}

.box1{
    width:1349.4px;
    height:500px;
}

#log_in{
    width:50%;
    height:100%;
    float:left;
    background: white;
    color:#0081b1;
    border: 5px solid #0081b1;
    text-align:center;
    padding-top:20px;
    font-family: 'Oswald', sans-serif;
    display:block;
}
#sign_up{
    width:48.8%;
    height:100%;
    display:block;
    background: white;
    color:#0081b1;
    border: 5px solid #0081b1;
    text-align:center;
    padding-top:20px;
    font-family: 'Oswald', sans-serif;
    margin-left:680px;
}

#sign_up h1{
    padding-left:40px;
}

.form_log input[type="email"], .form_log input[type="password"]{
    padding:10px;
    width:400px;
    margin:10px auto;
   border: 2px solid blue;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}
.form_log{
    margin-top: 100px;
}

.form_log input[type="submit"], .form_sign input[type="submit"]{
    padding:15px 30px;
    margin:10px auto;
    background:rgba(0, 100, 186, 0.86);
    color:white;
    border: 2px solid white;
    transition: .3s;
}

.form_log input[type="submit"]:hover, .form_sign input[type="submit"]:hover{
    padding:15px 30px;
    margin:10px auto;
    background:rgba(255, 255, 255, 0.86);
    color:blue;
    border: 2px solid blue;
    transition:.3s;
}

.form_sign input[type="text"], .form_sign input[type="email"], .form_sign input[type="password"], .form_sign input[type="tel"],.form_sign select{
    
    padding:10px;
    width:400px;
    margin: 5px auto;
    border: 2px solid blue;
    color:black;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.form_sign{
    margin-left:30px;
    margin-top:20px;
}



.section1{
    position:relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
} 

